version: "3.9"

services:
  mongodb:
    image: mongo:8.2.1-noble   # latest stable for Linux (supports arm64 and amd64)
    container_name: mongodb
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASS}
      MONGO_INITDB_DATABASE: ${MONGO_DB}
    ports:
      - "${MONGO_DB_PORT}:27017"
    volumes:
      - ./mongo_data:/data/db
    networks:
      - llm-net

networks:
  llm-net:
    external: true
